[Unit]
Description=Spotify alarm service
After=network.target
Requires=spalarm.socket

[Service]
Type=simple
ExecStart=/usr/local/bin/spalarm.py
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target