[Unit]
Description=Spotify alarm communication socket
PartOf=spalarm.service

[Socket]
ListenStream=/var/run/spalarm.sock

[Install]
WantedBy=sockets.target